<div class="float-block">
    <div class="float-block__inner">
        <div class="socials">
            <a class="social-link" href="#" title="Наш Telegram" target="_blank" rel="nofollow noreferrer">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#tg" />
                </svg>
            </a>

            <a class="social-link" href="#" title="Мы на YouTube" target="_blank" rel="nofollow noreferrer">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#yt" />
                </svg>
            </a>
        </div>
    </div>
</div>