<header class="header">
    <div class="header__container">
        <div class="header__top">
            <a class="header__logo" href="#">
                <img src="images/logo.svg" alt="CRYPTOMATIC">
            </a>

            <button class="js-menu-toggler header__burger" type="button" title="Меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#burger" />
                </svg>
            </button>
        </div>

        <nav class="main-menu">
            <ul class="js-main-menu main-menu__list">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#1">Начало</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#2">О проекте</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#3">Обучающий курс</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#4">Преимущества</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#5">Результаты</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#6">FAQ</a>
                </li>
            </ul>

            <a class="header__button button button--green button--bordered" href="#"><span>Заявка / Вход</span></a>

            <div class="socials">
                <a class="social-link" href="#" title="Наш Telegram" target="_blank" rel="nofollow noreferrer">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#tg" />
                    </svg>
                </a>

                <a class="social-link" href="#" title="Мы на YouTube" target="_blank" rel="nofollow noreferrer">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#yt" />
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</header>