<section id="4" class="section-4 page__section">
    <div class="section-4__inner">

        <h2>Преимущества <span class="color-green">использования бота</span></h2>

        <div class="features-list">
            <div class="feature">
                <div class="feature__icon"><img src="images/content/section_4/img_1.png" srcset="images/content/section_4/img_1@2x.png 2x" alt=""></div>
                <div class="feature__inner">
                    <h3>Автономность</h3>
                    <p>Работают без участия человека, совершая сделки по заданным правилам</p>
                </div>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/section_4/img_2.png" srcset="images/content/section_4/img_2@2x.png 2x" alt=""></div>
                <div class="feature__inner">
                    <h3>Скорость</h3>
                    <p>Мгновенно исполняют ордера. Быстрее, чем трейдер вручную</p>
                </div>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/section_4/img_3.png" srcset="images/content/section_4/img_3@2x.png 2x" alt=""></div>
                <div class="feature__inner">
                    <h3>Масштабируемость</h3>
                    <p>Автоматизированная работа с большим массивом данных</p>
                </div>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/section_4/img_4.png" srcset="images/content/section_4/img_4@2x.png 2x" alt=""></div>
                <div class="feature__inner">
                    <h3>Беспристрастность</h3>
                    <p>Исключают эмоциональные решения, строго следуя алгоритму</p>
                </div>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/section_4/img_5.png" srcset="images/content/section_4/img_5@2x.png 2x" alt=""></div>
                <div class="feature__inner">
                    <h3>Адаптивность</h3>
                    <p>Позволяют гибко настроить и корректировать стратегии под меняющийся рынок</p>
                </div>
            </div>
        </div>
    </div>
</section>