<section id="6" class="section-6 page__section">
    <div class="container">
        <h2>Часто задаваемые <span class="color-green">вопросы</span></h2>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Что такое торговый бот?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Торговый бот — это программа, используемая для автоматизации сделок и принятия решения о покупке или продаже на основе рыночных данных и заранее определенных правил.</p>
                <p>Для начало работы Вам нужно проанализировать текущую ситуацию на рынке, выбрать правильные настройки бота и запустить его.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Как работают торговые боты?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Торговые боты используют различные индикаторы для анализа рыночных данных и автоматического совершения сделок. Логика, используемая торговым ботом, может варьироваться в зависимости от бота и торговой стратегии. CryptoMatic
                    предлагает обучиться использовать торговых ботов для любых рыночных условий.</p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Выгодны ли боты для торговли криптовалютой?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>
                    Боты для торговли криптовалютами приносят ощутимую прибыль, если вы выберете правильную торговую стратегию и настроите своего бота с нужными параметрами. Для этого команда CryptoMatic подготовила образовательный курс, на котором
                    Вы изучите тонкости настройки торговой стратегии и много другое.
                </p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Опасна ли автоматическая торговля?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>
                    Автоматическая торговля, как и любая другая форма торговли, может быть рискованной. Риски использования торгового бота будут зависеть от уровня проведенного анализа и выбранных настроек. Таким образом, важно провести тщательное
                    исследование, прежде чем использовать торгового бота.
                </p>
            </div>
        </div>

        <div class="accordion">
            <button class="accordion__toggler" type="button">
                <span>Сколько можно заработать пользуясь торговыми ботами?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Команда CryptoMatic имеет обширный теоретический и практический опыт в алготрейдинге, по этому сложно однозначно дать ответ о доходности. При этому можно ориентироваться на 15-20% от депозита.</p>
            </div>
        </div>

        <p class="faq__note">Если у вас остались вопросы, <a href="mailto:texpomosh@one-shopw.com">напишите нам</a> и мы с радостью на них ответим. </p>
    </div>
</section>