<section id="2" class="section-2 page__section">
    <div class="section-2__inner">
        <div class="section-2__text-block">
            <h2><small>О проекте</small> <img src="images/logo.svg" alt="CRYPTOMATIC"></h2>

            <p>Наш проект для тех, кто хочет вывести трейдинг на новый уровень — быстрее, точнее и без эмоций. Наша команда подготовила Курс посвященный настройке и оптимизации торговых ботов для криптоварютной биржи BYBIT. Также мы предлагаем
                инструменты, обучение и поддержку для трейдеров, желающих автоматизировать свои стратегии.</p>

            <p>Боты, которые зарабатывают больше вас. Автоматический трейдинг на крипте и акциях. Без эмоций, без усталости. Подключите за 5 минут. Первая прибыль — через 24 часа. Хотите попробовать?</p>
        </div>

        <img class="section-2__image" src="images/content/section_2/image.png" srcset="images/content/section_2/image@2x.png 2x" alt="">
    </div>
</section>