<section id="3" class="section-3 page__section">
    <div class="section-3__inner">
        <div class="section-3__text-block">
            <h2><small>Представляем</small> Обучающий <span class="color-green">курс</span></h2>

            <p>Курс предназначен для тех, кто хочет освоить алготрейдинг с нуля или улучшить свои навыки в создании и настройке торговых ботов. Вы получите структурированные знания о принципах алгоритмической торговли, научитесь настраивать параметры
                ботов и разрабатывать собственные торговые стратегии.</p>

            <p>Обучение построено через разбор ситуаций на рынке без сложной терминологии, а дополнительные материалы и практические задания помогут закрепить теорию. Курс записан в удобном видеоформате с уроками по 20–30 минут, что позволяет изучать
                материал в комфортном темпе.</p>

            <p>Если у вас возникнут вопросы — наша команда поддержки всегда поможет разобраться в сложных моментах. Начните свой путь в алготрейдинге уже сегодня!</p>
        </div>

        <img class="section-3__image" src="images/content/section_3/image.png" srcset="images/content/section_3/image@2x.png 2x" alt="">
    </div>
</section>