<section id="5" class="section-5 page__section">
    <div class="section-5__inner">
        <h2>Добивайтесь <span class="color-green">результатов</span></h2>

        <div class="results-slider-container">
            <div class="js-results-slider results-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/content/section_5/img_1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/content/section_5/img_2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/content/section_5/img_3.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/content/section_5/img_4.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/content/section_5/img_5.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/content/section_5/img_6.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/content/section_5/img_7.jpg" alt="">
                    </div>
                </div>
            </div>

            <button class="swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_left" />
                </svg>
            </button>

            <button class="swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_right" />
                </svg>
            </button>
        </div>
    </div>
</section>